.estrutura {
    ul{
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    h1 {
        color: blue;
        text-align: center;
        padding: 100px;
        text-transform: uppercase;

    }
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer img{
    width: 170px;
    height: 170px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 150px;
        a {
        justify-items: center;
        font-size: large;
    }
}

.imagem {
    text-align: center;
    a {
        display: flex;
        justify-content: center;
        padding: 150px;
        text-transform: uppercase;
        font-size: 30px;
    }
}

.imagem2 {
    text-align: center;
    transform: rotate(90deg);
}